.navbar {
  background-color: var(--black-color);
  padding: 20px 150px;
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 16px;
}

.nav-list a {
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.list-menu {
  display: none;
  font-size: 30px;
  color: var(--font-color);
}

@media (max-width:1185px) {
  .navbar {
    padding: 20px 40px;
  }

}

@media (max-width:778px) {
  .navbar {
    padding: 20px;
  }

  .list-menu {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 0;
    width: 40%;
    background-color: var(--black-color);
    padding: 5px 15px 15px;
    z-index: 1;
  }

  .nav-list.hide {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.02s;
  }

  .nav-list.show {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.02s;
  }

  .nav-list.show li {
    border-bottom: 1px solid var(--font-color);
    padding: 10px 0;

  }

  .nav-list.show a {
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}